.options {
	.down-line-button-container,
	.link-land {
		margin-left: -1rem;
		button {
			background-color: transparent;
			display: block;
			width: 100%;
			text-align: left;
		}
	}
	.image-preview {
		border-radius: 100%;
		width: 40px;
		height: 40px;
		margin-right: 1rem;
	}
	.href-preview {
		color: #6359cf;
		a {
			text-decoration: underline;
			width: 84%;
			float: left;
			text-align: -webkit-left;
			text-overflow: ellipsis;
			max-width: 84%;
			word-break: break-all;
		}
	}
}
