<div class="columns">
	<div class="column has-text-centered">
		<h1 class="title is-1">Participation</h1>
	</div>
</div>

<div class="columns">
	<div class="column">
		<app-answers [poll]="poll" [user]="_user | async"></app-answers>
	</div>
</div>

<div class="columns">
	<div class="column">
		<app-add-comment [pseudo]="(_user | async)?.pseudo"></app-add-comment>
	</div>
</div>

<div class="columns">
	<div class="column">
		<app-comments></app-comments>
	</div>
</div>
