@import '../../../../../../styles/variables';
.poll-kind {
}
.kind-of-poll {
	min-height: 30vh;

	.fa {
		margin-right: 1em;
	}

	.button {
		background: $d-blue30;
		border: solid white 1px;
		border-radius: 8px;
		transition: background-color ease 1.5s;
		color: $font-color;
		margin-bottom: 0.85rem;
		padding: 1.69rem 1rem 1.69rem 48px;

		label {
			font-weight: 700;
			font-size: 14px;
			line-height: 16px;

			float: left;
			display: inline;
			margin-top: -0.5rem;
			width: 80%;
		}

		img {
			margin-right: 11px;
			margin-left: 0;
			margin-top: -2px;
			height: 18px;
			width: 18px;
			line-height: 18px;
		}

		input[type='radio'] {
			width: 24px;
			height: 24px;
			display: inline-block;
			margin-top: -0.7rem;
			float: right;
		}

		&.is-selected {
			border: solid $primary-color 1px;
		}

		&:hover {
			border: solid $primary-color 1px;
			transition: background-color ease 0.25s;
		}
		&.has-background-kind-classic {
			background: $d-blue30 url('/assets/img/kind_classic.svg') no-repeat 19px center;
		}
		&.has-background-kind-date {
			background: $d-blue30 url('/assets/img/kind_date.svg') no-repeat 19px center;
		}
	}
}
