.step-resume {
	.description {
		font-weight: 400;
		font-size: 16px;
		line-height: 20px;
	}
	.title {
		margin-top: 2rem;
	}
	.block-label {
		font-weight: 700;
		font-size: 16px;
		line-height: 20px;
		margin-bottom: 1rem;
		.rounded-block > & {
			margin-top: 0;
		}
	}
	.go-to-step {
		margin-left: -1rem;
		margin-right: -1rem;
		&:hover {
			color: #000;
		}
	}
}
