:host {
	position: relative;
	bottom: 4em;
	left: 1em;
	color: white;
	.feedback-choices {
		&.active {
			background: #0c5593;
			border-radius: 0.5em;
			padding: 1em;
			margin-bottom: 0.5em;
		}
	}
	.link {
		margin: 1ch;
		display: block;
		max-width: 10em;
		color: white;
		padding: 0.5rem 1rem;
		&:hover {
			background: white;
			color: black;
		}
	}
	i {
		color: white;
		margin: 1ch;
	}
	.button {
		float: right;
		color: white;
		background: #0c5593;
		padding: 1em;
		border-radius: 2em;
		&.active {
			background: #2e6da4;
		}
	}
}
